html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 18px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  background-color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.command_line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 22px;
}
.command_line_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  visibility: hidden;
  font-size: 22px;
  animation: 0s linear 1.5s forwards delayedShow;
}
@keyframes delayedShow {
  to {
    visibility: visible;
  }
}
.TypistExample-header {
  font-size: 3em;
  color: #00ffff;
}

.typist_command {
  text-align: left;
  margin-left: 10px;
  font-size: 1em;
  color: #00ffff;
}
