@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

.search-bar {
	border-radius: 1px;
	background: : #fff;
}

div.imgContainer {
	margin: 10px;
    width:300px;
	height:200px;
	padding: 0px 5px 5px 5px;
	display: inline-block;
}

li.joblistentry {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 300px;
	padding: 0px 10px 10px 10px;
	margin: 10px;
	border-radius: 5px;
	list-style-type: none;
	display: inline-block;
}

div.weatherContainer {
	margin: 10px;
    width:auto;
	height:auto;
	padding: 0px 10px 10px 10px;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}