@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

.search-bar {
	border-radius: 1px;
	background: : #fff;
}

.search-bar .btn{
	border-radius: 5px;
}

.joblist {
	border-radius: 2px;
}

li.joblistentry {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 300px;
	padding: 0px 5px 5px 5px;
	border-radius: 5px;
	list-style-type: none;
}