<div class="search-bar form-inline">
 <h2>Search here: </h2>  
  <input id="tp-input" class="form-control" type="text"/> 
  <button type="submit" class="btn btn-primary btn-lg" ng-click="addCity()">Add {{ titleOfCity.title.substr(0, titleOfCity.title.indexOf(',')); }} to My Vault! </button>
	<button type="submit" class="btn btn-primary btn-lg" ng-click="showMeVault()"> My Vault of Cities </button>	
	
	<div ng-show="showMe">
			<h2> Current List of Cities </h2>
		<div class="listOfCites" ng-repeat="city in cities">
				<label>
						<input type="checkbox" ng-click=deleteCity(city._id)> {{ city.name }}
				</label>
		</div>
	</div>

	<div>
	<ul class="joblist">
  	<li class="joblistentry" ng-repeat="job in listOfJobs">
  		<h4> {{job.job.title}} </h4>
  		<p>Salary Percentiles: </p>
  		<ul>
  		<li>25th percentile: {{ '$' + Math.floor(job.salary_percentiles.percentile_25).toLocaleString()  }}</li>
  		<li>50th percentile: {{ '$' + Math.floor(job.salary_percentiles.percentile_50).toLocaleString() }}</li>
  		<li>75th percentile: {{ '$' + Math.floor(job.salary_percentiles.percentile_75).toLocaleString() }}</li>
  		</ul>
  	</li>
	</ul>
	
	<div class="imgContainer" ng-style="setBackground()"></div>
	
  <div class="weatherContainer" ng-if="weather != null">
    <h4> Weather Conditions </h4>
  	<ul>
  		<li ng-repeat="weatherProp in weather">
  			<strong> {{weatherProp.label}} </strong> = {{ weatherProp.float_value || weatherProp.string_value }}
  		</li>
  	</ul>
	</div>
	
  <div class="weatherContainer" ng-if="urbanScores != null">
    <h4> How does it rank/10? </h4>
  	<ul>
  		<li> {{urbanScores[0].name}}: {{ Math.floor(urbanScores[0].score_out_of_10)}}   </li>
  		<li> {{urbanScores[2].name}}: {{ Math.floor(urbanScores[2].score_out_of_10)}}   </li>
  		<li> {{urbanScores[5].name}}: {{ Math.floor(urbanScores[5].score_out_of_10)}}   </li>
  		<li> {{urbanScores[7].name}}: {{ Math.floor(urbanScores[7].score_out_of_10)}}   </li>
  		<li> {{urbanScores[8].name}}: {{ Math.floor(urbanScores[8].score_out_of_10)}}   </li>
  		<li> {{urbanScores[10].name}}: {{ Math.floor(urbanScores[10].score_out_of_10)}}   </li>
  		<li> {{urbanScores[13].name}}: {{ Math.floor(urbanScores[13].score_out_of_10)}}   </li>
  		<li> {{urbanScores[15].name}}: {{ Math.floor(urbanScores[15].score_out_of_10)}}   </li>
  		<li> {{urbanScores[14].name}}: {{ Math.floor(urbanScores[14].score_out_of_10)}}   </li>
  		<li> {{urbanScores[16].name}}: {{ Math.floor(urbanScores[16].score_out_of_10)}}   </li>
  	</ul>
	</div>

	<div class="programmingLangsContainer" ng-if="programmingLangsSorted != null">
			<h4> Popular Programming Languages in {{ titleOfCity.countryName }}</h4>
			<ul>
				<li ng-repeat="lang in programmingLangsSorted|limitTo:5">
					<strong> {{lang[0]}} </strong> = {{ Math.floor((lang[1]/totalLangEntries)*100) }}%*
				</li>
			</ul>
			<p>* of total respondents. List is missing remaining languages </p>
	</div>

</div>
</div> 