<div class="search-bar form-inline">
 <h2>Search here: </h2>  
  <input id="tp-input" class="form-control" type="text"/> 
<!--   <div> {{titleOfCity}} </div>
 --><ul class="joblist">
  	<li class="joblistentry" ng-repeat="job in listOfJobs">
  		<h3> {{job.job.title}} </h3>
  		<p>Salary Percentiles: </p>
  		<ul>
  		<li>25th percentile: {{ '$' + Math.floor(job.salary_percentiles.percentile_25).toLocaleString()  }}</li>
  		<li>50th percentile: {{ '$' + Math.floor(job.salary_percentiles.percentile_50).toLocaleString() }}</li>
  		<li>75th percentile: {{ '$' + Math.floor(job.salary_percentiles.percentile_75).toLocaleString() }}</li>
  		</ul>
  	</li>
  </ul>
  <div class="imgContainer" ng-style="setBackground()"></div>
  <div class="weatherContainer" ng-if="weather != null">
    <h3> Weather Conditions </h3>
  	<ul>
  		<li ng-repeat="weatherProp in weather">
  			<strong> {{weatherProp.label}} </strong> = {{ weatherProp.float_value || weatherProp.string_value }}
  		</li>
  	</ul>
  </div>
 </div> 